<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heyyy</title>
</head>

<body>
    <p>Hello admin. This is home page... some api below:</p>

    <ul>
        <li>
            <a href="http://localhost:3001/api/auths">http://localhost:3001/api/auths</a>
        </li>
        <li>
            <a href="http://localhost:3001/api/users?userId=value">http://localhost:3001/api/users?userId=value</a>
        </li>
        <li>
            <a href="http://localhost:3001/api/posts">http://localhost:3001/api/posts</a>
        </li>
        <li>
            <a href="http://localhost:3001/api/conversations">http://localhost:3001/api/conversations</a>
        </li>
        <li>
            <a href="http://localhost:3001/api/messages">http://localhost:3001/api/messages</a>
        </li>
    </ul>
</body>

</html>